<!-- form for returning user to log in -->
<div align= center id="tennant_login_form">
	<div align=center id="login_greet">
		<h1>TENNANT LOGIN</h1>
	</div>
	<br>
	<br>
	<div id="tennant_sign">
		<%= form_tag(sessions_create_path, method: "post") do %>
			<%= label_tag(:email, "Email Address")%>
			<%= text_field_tag(:email)%>
			<%= label_tag(:password, "Password")%>
			<%= password_field_tag(:password) %>
			<%= submit_tag("submit") %>
		<% end %>
	</div>
</div>

