<!-- form for returning user to log in -->
<div align= center id="tennant_login_form">
	<div align=center id="login_greet">
		<h1>Welcome Back! Sign in here</h1>
	</div>
	<%= form_tag(sessions_create_path, method: "post") do %>
		<%= label_tag(:email, "Email Address")%>
		<%= text_field_tag(:email)%>
		<%= label_tag(:password, "Password")%>
		<%= password_field_tag(:password) %>
		<%= submit_tag("submit") %>
	<% end %>
</div>

