<div align= center id="edit_property">
	<div align=center id="properties_edit">
		<h1>EDIT PROPERTY</h1>
	</div>

	<%= form_for @property, :html => {:multipart => true} do |f| %>

	   <div class="field">
	     <%= f.label :address, "Street Address" %><br />
	     <%= f.text_field :address, autofocus: true %>
	   </div>

	    <div class="field">
	     <%= f.label :city, "City" %><br />
	     <%= f.text_field :city %>
	   </div>

	    <div class="field">
	     <%= f.label :state, "State" %><br />
	     <%= f.text_field :state %>
	   </div>

	    <div class="field">
	     <%= f.label :zip, "Zip Code" %><br />
	     <%= f.text_field :zip %>
	   </div>

	    <div class="field">
	     <%= f.label :monthly_rent, "Monthly Rent" %><br />
	     <%= f.text_field :monthly_rent %>
	   </div>

	    <div class="field">
	     <%= f.label :date_available, "Date Available", class: "select" %><br />
	     <%= f.date_select :date_available %>
	   </div>

	    <div class="field">
	     <%= f.label :bedrooms, "Bedrooms" %><br />
	     <%= f.text_field :bedrooms %>
	   </div>

	    <div class="field">
	     <%= f.label :bathrooms, "Bathrooms" %><br />
	     <%= f.text_field :bathrooms %>
	   </div>

	    <div class="field">
	     <%= f.label :square_feet, "Sq Feet" %><br />
	     <%= f.text_field :square_feet %>
	   </div>

	    <div class="field">
	     <%= f.label :description, "Desciption" %><br />
	     <%= f.text_field :description  %>
	   </div>

	    <div class="field">
	     <%= f.label :pet_policy, "Pet Policy" %><br />
	     <%= f.text_field :pet_policy %>
	   </div>

	    <div class="field">
	     <%= f.label :security_deposit, "Security Deposit" %><br />
	     <%= f.text_field :security_deposit %>
	   </div>

	    <div class="field">
	     <%= f.label :application_fee, "Application Fee" %><br />
	     <%= f.text_field :application_fee %>
	   </div>

	   <%= f.file_field :avatar %>
	   
	   <div class="actions">
	    <%= f.submit "Submit Changes" %>
	  </div>

	 <% end %>
</div>


