<div align= center id="all_properties">
	<div align=center id="properties_label">
		<h1>ALL PROPERTIES</h1>
		<hr>
	</div>
	<% @properties.each do |property| %>
		<%= image_tag property.avatar.url(:thumb) %>
		<%= property.address%>
		<%= property.city%>
		<%= property.state%>
		<%= property.zip%>
		Rent $<%= property.monthly_rent%>
		Beds <%= property.bedrooms%>
		Baths <%= property.bathrooms%><br>
		<%= link_to "Add Tennant to Property", new_tennant_path(:tennant => {:property_id =>property.id}), :class => "property_btn" %> |
		<%= link_to "Edit Property", edit_property_path(property), :class => "property_btn" %> |
		<%= link_to "Delete Property", property_path(property), method: :delete, :class => "property_btn"  %> |
		<% if property.listed %>
		<%= link_to "Unlist Property", properties_liststatus_path(property), :class => "property_btn" %> 
		<% else %>
		<%= link_to "List Property", properties_liststatus_path(property), :class => "property_btn" %>
		<% end %> 
		<hr>
		<br>
	<%end%>
</div>
