<div align= center id="application_form">
  <div align=center id="application_label">
    <h1>Application</h1>
    <h3>Enter your name and email address to have the application form emailed to you</h3>
  </div>
	<%= form_tag '/properties/apply' do %>

  <div class="field">
    <%= label_tag :name, "Name" %>
    <%= text_field_tag :name %>
    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email %>
    <%= submit_tag "Send" %>
  </div>
  
  <% end %>
</div>
