<div id="homes_for_rent">
	<div align=center id="rent">
		<h1>HOMES FOR RENT</h1>
		<hr>
	</div>
	<% @properties.each do |property| %>
		<%= image_tag property.avatar.url(:thumb) %>
		<%= property.address%>
		<%= property.city%>
		<%= property.state%>
		<%= property.zip%>
		<%= property.monthly_rent%>
		<%= property.date_available%>
		<%= property.bedrooms%>
		<%= property.bathrooms%>
		<%= property.square_feet%>
		<%= property.description%>
		<%= property.pet_policy%>
		<%= property.security_deposit%>
		<%= property.application_fee%>
		
		<hr>
	<%end%>
</div>

<div id="home_preview">
</div>
