
<H1>Homes for rent</H1>

<% @properties.each do |property| %>
	<%= property.address%>
	<%= property.city%>
	<%= property.state%>
	<%= property.zip%>
	<%= property.monthly_rent%>
	<%= property.date_available%>
	<%= property.bedrooms%>
	<%= property.bathrooms%>
	<%= property.square_feet%>
	<%= property.description%>
	<%= property.pet_policy%>
	<%= property.security_deposit%>
	<%= property.application_fee%>
	<%= link_to "Edit Property", edit_property_path(property), :class => "btn" %>
<%end%>
