
<h1>All tennants</h1>
<% @tennants.each do |tennant| %>
	<%= tennant.first_name%>
	<%= tennant.last_name%>
	<%= tennant.email%>
	<%= tennant.password%>
	<%= link_to "Delete Tennant", tennant_path(tennant), method: :delete, :class => "btn"  %>
	<br>
	
<%end%>

