<div align= center id="all_tennants">
	<div align=center id="tennants_label">
		<h1>ALL CURRENT TENNANTS</h1>
	</div
	<% @tennants.each do |tennant| %>
		<%= tennant.first_name%>
		<%= tennant.last_name%>
		email:<%= tennant.email%>
		password: <%= tennant.password%>
		<%= link_to "Delete Tennant", tennant_path(tennant), method: :delete, :class => "delete_tennant_btn"  %>
		<br>
		
	<%end%>
</div>
