<h1>tennants request maintanence</h1>

<h3>Enter your name and description of the maintanence issue</h3>

<div id="applicationForm">
	<%= form_tag '/tennants/maintanence' do %>

  <div class="field">
    <%= label_tag :name, "Name" %><br />
    <%= text_field_tag :name %>
  </div>
  
  <div class="field">
    <%= label_tag :message, "Message" %><br />
    <%= text_field_tag :message %>
  </div>
  
  <div class="actions">
    <%= submit_tag  "Send" %>
  </div>

  <% end %>
</div>


