<h1>Tennants#new</h1>
<p>Find me in app/views/tennants/new.html.erb</p>

<div align="center" id="editgreet">
	<h1>Have a new tennant? Create the account here</h1>
</div>
<!-- form to create a new user account -->
<div id="createacctform">
	<%= form_for @tennant do |f| %>
		<%= f.label :first_name, "First Name"%>
		<%= f.text_field :first_name%>
		<br>
		<%= f.label :last_name, "Last Name"%>
		<%= f.text_field :last_name %>
		<br>
		<%= f.label :email, "Email"%>
		<%= f.text_field :email %>
		<br>
		<%= f.label :password, "Password"%>
		<%= f.password_field :password %>
		<br>
		<br>
		<%= f.submit%>
	<% end %>
</div>
<!-- if there are errors when creating account the errors are displayed -->
<% if @tennant.errors.full_messages.any? %>
	<ul>
		<% @tennant.errors.full_messages.each do |error_message| %>
			<li><%= error_message %></li> <br />
		<% end %>
	</ul>
<% end %>
