<div align= center id="landlord_forgot_password">
    <div align=center id="password_label">
      <h1>FORGOT YOUR PASSWORD?</h1>
    </div>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Send me reset password instructions" %>
	  </div>
	<% end %>

	<%= render "landlords/shared/links" %>
</div>
