<div align= center id="landlord_forgot_password">
    <div align=center id="password_label">
      <h1>FORGOT YOUR PASSWORD?</h1>
    </div>
    <h1>heloo</h1>
	<div id= "password_form">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	    <%= f.submit "Send me reset password instructions" %>
	<% end %>
	</div>
	<%= render "landlords/shared/links" %>
</div>

