<!DOCTYPE html>
<html>
  <head>
    <title>Propertymgt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% current_tennant = Tennant.find(session[:tennant_id]) if session[:tennant_id] %>
  <body>
  	<header>
	  <div class="home_btns">
	      
	          <% if landlord_signed_in? %>
		          <%= link_to "Homes For Rent", properties_path, :class => "btn" %> |
		          <%= link_to "All Properties", properties_all_path, :class => "btn" %> |
		          <%= link_to "Create New Property", new_property_path, :class => "btn" %> |
		          <%= link_to "Tennants", tennants_path, :class => "btn" %> |
		          <%= link_to "Sign Out", destroy_landlord_session_path, method: :delete, :class => "btn" %> 
	          <% elsif session[:tennant_id] %>
		          <%= link_to "Edit Account", edit_tennant_path(current_tennant), :class => "btn"  %> |
		          <%= link_to "Homes For Rent", properties_path, :class => "btn" %> |
		          <%= link_to "Request Maintanence", tennants_maintanence_path, :class => "btn" %> |
				  <%= link_to "Pay Rent", tennants_pay_path(current_tennant), :class => "btn" %> |
				  <%= link_to "Sign Out", sign_out_path, method: :delete, :class => "btn" %>
	          <% else %>  
		          <%= link_to "Home", root_path, :class => 'btn' %> |
		          <%= link_to "Homes for Rent", properties_path, :class => "btn" %> |
		          <%= link_to "Apply", properties_apply_path, :class => "btn" %> |
		          <%= link_to "Contact Us", landlords_contact_path, :class => "btn" %> |
			      <%= link_to "Landlord Login", landlord_session_path, :class => "btn" %> |
			      <%= link_to "Tennant Login", sessions_path, :class => "btn" %>
			  
		      <% end %>  
	      
	  </div>

	   <div class="logo">
			<%=image_tag("logo.jpg")%>
	   </div>

	   <div id= "phone">
	   		<h1>(801) 772-4444</h1>
	   </div>

	</header>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div class="footer">
		<p>&copy 2017 Evolution Property Management Inc &nbsp; &nbsp;2281 West Temple, Suite 300 
		Salt Lake City, Utah 84121</p>
	</div>
</html>
